<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quiz_app">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Quiz_app">
        <activity android:name=".sahitya_2_indexer"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".frag_nav"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".swich"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".open_file"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".rec_play"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Counter"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Mahanyasa"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nitishatakam"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Udakashanti"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Prayoga"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Mantra_play"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:parentActivityName=".app_indexer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:parentActivityName=".app_indexer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".seq_quiz"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".check"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Read"
            android:exported="false"
            android:parentActivityName=".check"
            android:screenOrientation="portrait" />
        <activity
            android:name=".app_indexer"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>